<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form method="post">
        {% csrf_token %}
        Name: <input type="text" name="username"><br>
        Email: <input type="email" name="email"><br>
        Password: <input type="password" name="password"><br>
        Password again : <input type="password" name="password2"><br>

        <input type="submit" value="Register">
    </form>
</body>
</html>